@model IndexViewModel


<partial name="~/Views/Shared/_HeaderPartial.cshtml"/>

<partial name="~/Views/Shared/_Partial4.cshtml" />

<section class="frontpage">
    <h2>Best collection</h2>
    <br>
    <p class="mjau">All ⁄ Bags ⁄ Dress ⁄ Decoration ⁄ Essentials ⁄ Interior ⁄ Laptop ⁄ Mobile ⁄ Beauty</p>
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Description</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Name</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Description</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="knappenimitten">
        <button>LOAD MORE</button>
    </div>
</div>

<div class="frontpage2">
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/storalillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">Table Lamp - scelerisque tempore</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares">
                    <p class="title-2">UP TO SELL</p>
                    <p class="title-1">50% off</p>
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/storalillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">Table Lamp - scelerisque tempore</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="frontpage">
    <h2>Top selling products in (english entered the chat again) this week</h2>
    <div class="common">
        <div class="container">
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
            <div class="favs">
                <div class="squares-picture">
                    <img src="images/lillen.png" alt="abc">
                </div>
                <div class="squares-info">
                    <h4 class="title">@Model.ProductModel.Name</h4>
                    <h3 class="age">@Model.ProductModel.Price</h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                <h3 class="age">@Model.ProductModel.Price</h3>
            </div>
        </div>
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                <h3 class="age">@Model.ProductModel.Price</h3>
            </div>
        </div>
        <div class="favs">
            <div class="squares-picture">
                <img src="images/storalillen.png" alt="abc">
            </div>
            <div class="squares-info">
                <h4 class="title">Table Lamp - scelerisque tempore</h4>
                <h3 class="age">@Model.ProductModel.Price</h3>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="knappenimitten">
        <button>LOAD MORE</button>
    </div>
</div>

<partial name="~/Views/Shared/_Partial3.cshtml" />

<partial name="~/Views/Shared/_FooterPartial.cshtml" />